<section class="pages-index">
  <header class="page-header">
    <h1>About</h1>
  </header>

  <div class="content">
    <p>
     We are a nursery located in Neverland.
    </p>
    <p>
      We sell plants.
    </p>
  </div>
</section>
